<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite">
    <test name="ExtentReportTestExecution">
        <classes>
            <class name="Tests.LoginTests"/>
            <class name="Tests.DashboardTests"/>
            <class name="Tests.AddEmployeeTests"/>
            <class name="Tests.SearchEmployeeTests"/>
            <class name="Tests.LogoutTests"/>
        </classes>
    </test>
</suite>
